*{
    padding: 0;
    margin: 0;
    background-color: hsl(225, 100%, 94%);
}

.fondo{
    border-color: black;    
    z-index: 0;
}

.fondo_pattern{
    width: 1920px;
    height: 460px;
    z-index: 0;
}